<% htmlWebpackPlugin.options.headScripts=htmlWebpackPlugin.options.headScripts || [] %>
<% htmlWebpackPlugin.options.version=htmlWebpackPlugin.options.version || {} %>
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="前后端都是JS的的前沿技术应用实现项目">
    <title>前后端都是JS的的前沿技术应用实现项目</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="logo192.png" />
    <!--[if lte IE 10]>
    <script
      src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
    <![endif]-->
    <% for (item of htmlWebpackPlugin.options.headScripts) { %>
    <script src="<%= item %>"></script>
    <% } %>
  </head>

  <body>
    <!-- 版本及环境等信息 -->
    <% for (item in htmlWebpackPlugin.options.version) { %>
    <p hidden><%= item %>: <%= htmlWebpackPlugin.options.version[item] %></p>
    <% } %>

    <div id="root"></div>
  </body>
</html>